DATABASE_URL=mysql+pymysql://<username>:<password>@localhost:3306/<dbname> 

SECRET=
ALGORITHM=

SMTP_PASSWORD=
SMTP_ACCOUNT=
SMTP_SERVER=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=
SECRET_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_SECRET_KEY=

